.config {
  height: 100%;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #4b79a1, #3992d0, #a1c4fd);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

select {
  background-color: #a2c2e3;
  color: #2c3e50;
  padding: 1.2rem;
  font-size: 0.8rem;
  border: 0.1rem solid #2c3e50;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.2);
  appearance: none;
  cursor: pointer;
}

select:hover {
  background-color: #8fb4cd;
}

option {
  background-color: #e1eff4;
  color: #2c3e50;
  font-size: 1rem;
}

.cont-config {
  border: 0.2rem solid #3498db;
  height: 35rem;
  width: 50rem;
  background-color: #eaf2f8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.cont-config h2 {
  height: 8rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3498db;
  margin-bottom: 1rem;
}

.cont-dificult {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-dificult p {
  margin-right: 10rem;
  font-size: 1.2rem;
  color: #2c3e50;
}

.cont-config-btns {
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.config-btn {
  height: 4rem;
  width: 10rem;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
