.home {
  height: 100%;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.home h1 {
  height: 10rem;
  display: flex;
  align-items: center;
  font-size: 3em;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px #ff0000;
}

.home-btns {
  height: 25rem;
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.home-btn {
  color: #000;
  font-size: 1.5em;
  height: 6rem;
  width: 20rem;
  border-radius: 5px;
  cursor: pointer;
}
