* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P";
}

#root {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 100%;
  width: 100%;
}

.cont-form-btns button {
  height: 4rem;
  width: 8rem;
  cursor: pointer;
  color: #ffff;
}

.btn-submit,
.btn-cancel {
  border-radius: 0.3rem;
  font-size: 0.9em;
  border: none;
}

.btn-submit {
  box-shadow: 0 0 0.5rem rgba(39, 174, 96, 0.7);
}
.btn-cancel {
  box-shadow: 0 0 0.5rem rgba(231, 76, 60, 0.7);
}

.cont-msg {
  height: 15rem;
  width: 40rem;
  color: white;
  padding: 0.8rem;
  border-radius: 0.5rem;
  text-align: center;
  border: 0.3rem solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cont-error-msg {
  background: linear-gradient(90deg, #ff4d4d, #ff0000);
}

.cont-error-btns {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.cont-ok-msg {
  background: linear-gradient(135deg, #00ff00, #008000);
}

.cont-error-msg p,
.cont-ok-msg p {
  width: 100%;
}

.btn-error,
.btn-ok {
  height: 4rem;
  width: 8rem;
  font-size: 0.9em;
}

.captcha {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
