.information {
  height: 50rem;
  width: 15rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  color: #ffff;
}

.cont-score {
  height: 11rem;
  width: 15rem;
  background: linear-gradient(135deg, #f1c40f 0%, #f39c12 100%);
  border: 0.4rem solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cont-level {
  height: 11rem;
  width: 15rem;
  background: linear-gradient(135deg, #f1c40f 0%, #f39c12 100%);
  border: 0.4rem solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cont-line {
  height: 15rem;
  width: 15rem;
  background: linear-gradient(135deg, #f1c40f 0%, #f39c12 100%);
  border: 0.4rem solid black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-stadistic {
  margin-bottom: 1rem;
}
