.cont-tetromino {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-sizing: border-box;
}

.cont-null {
  height: 2.5rem;
  width: 2.5rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  box-sizing: border-box;
}

.cont-empty {
  height: 2.5rem;
  width: 2.5rem;
  background-color: black;
}
